* { margin:0; padding:0; box-sizing:border-box;}
body {
	background-color: black;
	color: #778094;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 100;
}
nav {
	background-color: white;
	padding: 1em 0;
	display: block;
}
header {
	background-image: url(/images/marblebackground.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	padding: 5em 0;
}
section {
	padding: 5em 0;
}
a {
	font-family: 'A Ryal Black Block'; src: url(/fonts/a_ryal_black_block.ttf);
	font-weight: 400;
	line-height: 1.5em;
	text-decoration: none;
	margin: 1em;
	color: #778094;
	display: block;
	border: .5em white dotted;
	text-align: center;
	padding: 1em 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Biryani', sans-serif;
	color: #15171B;
}
h1 {
	font-weight: 400;
	font-size: 50px;
	line-height: 1.5em;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 1.5em;
	margin: 2em;
	color: #464C57;
}
div {
	display: inline-block;
}
span {
	text-align: right;
	font-style: small-caps;
}
section#about {
	height: 100vh;
	background: url(/images/sunset.png);
	background-size: cover;
}
section#work {
	background: url(/images/city.png);
	background-size: cover;
	padding: 10em 0;
	height: 100vh;
}
section#contact {
	background-color: white;
	background-size: cover;
	padding: 10em 0;
	height: 100vh;
}
.column {
	float: left;
	padding: 0 1em;
	width: 50%;
}
#slogan {
	font-style: italic;
	font-weight: 700;
	color: #272A31;
	padding: 0.2em;
}
.clearfix:after {
	content: ".";
	visibility:hidden;
	display: block;
	height: 0;
	clear: both;
}
