body {
	background-image: url(/images/marblebackground.jpg);
	background-size: cover;
	background-color: white;
	color: #778094;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
}
h1 {
	font-family: 'Biryani', sans-serif;
	font-weight: 400;
	font-size: 50px;
	line-height: 1.5em;
	color: #15171B;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 1.5em;
	margin: 2em;
	color: #464C57;
}
#slogan {
	font-style: italic;
	font-weight: 700;
	color: #272A31;
}
ul {
	font-family: 'Megrim', serif;
	font-weight: 400;
	line-height: 1.5em;
	list-style-type: none;
}

