body {
	background-image: url(/images/marblebackground.jpg);
	background-size: cover;
	background-color: white;
	color: #778094;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
}
h1 {
	font-family: 'Biryani', sans-serif;
	font-weight: 400;
	font-size: 50px;
	line-height: 1.5em;
	color: #15171B;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 1.5em;
	margin: 2em;
	color: #464C57;
}
a {
	font-family: a_ryal_black_block, sans-serif;
}
div {
	background: rgba(250,250,250,0.5);
	margin: 2em;
	padding: 3em 1em;
	border-radius: 2px;
}
#slogan {
	font-style: italic;
	font-weight: 700;
	color: #272A31;
	padding: 0.2em;
}
span {
	text-align: right;
	font-style: small-caps;
}
nav {
	font-family: 'Megrim', serif;
	font-weight: 400;
	line-height: 1.5em;
	list-style-type: none;
}
header {
	border: 25px solid black;
	margin: 300px;
	padding: 0.5em;
}
